<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSEQ.Properties.Settings.cseqConnectionString" connectionString="server=localhost;user id=root;database=cseq"
            providerName="MySql.Data.MySqlClient" />
        <add name="CSEQ.Properties.Settings.cpseqcen_censosConnectionString"
            connectionString="server=cpseqcenso.org;user id=cpseqcen;persistsecurityinfo=True;database=cpseqcen_censos"
            providerName="MySql.Data.MySqlClient" />
        <add name="CSEQ.Properties.Settings.censosPrueba" connectionString="server=cpseqcenso.org;user id=cpseqcen;database=cpseqcen_censos;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="CSEQ.Properties.Settings.cpseqcen_censosConnectionString1"
            connectionString="server=cpseqcenso.org;user id=cpseqcen_Admin;password=ajaksordos%25;database=cpseqcen_censos;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>